.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
        cursor: pointer;
    }

    .changers {
        display: flex;
        gap: 10px;

        .line {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 25px;
            width: 1px;
            background-color: var(--borders-color);
        }

        select {
            border: none;
            background-color: var(--body-bacground);
            color: var(--body-text-color);
            font-family: var(--body-font-family);
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            outline: none;
            width: 100%;
            max-width: 115px;
            cursor: pointer;

            option {
                background-color: var(--body-bacground);
                color: var(--body-text-color);
                font-family: var(--body-font-family);
                text-align: left;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
            }
        }


        .dark-mode {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                cursor: pointer;
                width: 80px;
                height: 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        .changers {
            select {
                option {
                    font-size: 14px;
                }
            }
        }
    }
}