.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
        cursor: pointer;
    }

    .changers {
        display: flex;
        gap: 15px;

        select {
            border: none;
            background-color: var(--body-bacground);
            color: var(--body-text-color);
            font-family: var(--body-font-family);
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            border-right: 1px solid var(--borders-color);
            outline: none;
            width: 100%;
            max-width: 115px;

            option {
                background-color: var(--body-bacground);
                color: var(--body-text-color);
                font-family: var(--body-font-family);
                text-align: left;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
            }
        }


        .dark-mode {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                cursor: povar(--body-font-family);
                width: 24px;
                height: 24px;
                object-fit: contain;

            }

            .toggle-switch {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 20px;
            }

            .toggle-switch .toggle-input {
                display: none;
            }

            .toggle-switch .toggle-label {
                position: absolute;
                top: 0;
                left: 0;
                width: 40px;
                height: 24px;
                background-color: #757575;
                border-radius: 34px;
                cursor: povar(--body-font-family);
                transition: background-color 0.3s;
            }

            .toggle-switch .toggle-label::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                top: 2px;
                left: 2px;
                background-color: #fff;
                box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
                transition: transform 0.3s;
            }

            .toggle-switch .toggle-input:checked+.toggle-label {
                background-color: #A445ED;
            }

            .toggle-switch .toggle-input:checked+.toggle-label::before {
                transform: translateX(16px);
            }

            .toggle-switch.light .toggle-label {
                background-color: #BEBEBE;
            }

            .toggle-switch.light .toggle-input:checked+.toggle-label {
                background-color: #9B9B9B;
            }

            .toggle-switch.light .toggle-input:checked+.toggle-label::before {
                transform: translateX(6px);
            }

            .toggle-switch.dark .toggle-label {
                background-color: #4B4B4B;
            }

            .toggle-switch.dark .toggle-input:checked+.toggle-label {
                background-color: #717171;
            }

            .toggle-switch.dark .toggle-input:checked+.toggle-label::before {
                transform: translateX(16px);
            }

        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        .changers {
            select {
                option {
                    font-size: 14px;
                }
            }
        }
    }
}