@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.big-main {
    width: 100vw;
    min-height: 100vh;
    font-family: var(--body-font-family);
    background-color: var(--body-bacground);
}

:root {
    --body-bacground: #FFFFFF;
    --body-text-color: #2D2D2D;
    --body-input-color: #F4F4F4;
    --borders-color: #D8D8D8;
    --body-font-family: 'Inter', sans-serif;
    --body-italic: italic
}

.dark {
    --body-bacground: #050505;
    --body-text-color: #FFFFFF;
    --body-input-color: #1F1F1F;
}

.sans-serif {
    --body-font-family: 'Inter', sans-serif;
    --body-italic: italic
}

.serif {
    --body-font-family: 'Lora', serif;
    --body-italic: normal
}

.mono {
    --body-font-family: 'Inconsolata', monospace;
    --body-italic: normal
}

.container {
    width: 46.0625rem;
    margin: 0 auto;
    padding: 20px 0;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

.loader {
    display: flex;
    margin: 50px auto;
}